numpy
scipy==1.14.1
torch==2.4.1
stable-baselines3==2.6.0
matplotlib==3.9.2
seaborn==0.13.2
pandas==2.2.2
baselines==0.1.5
shimmy>=0.2.1
optuna==4.2.1
jupyter==1.1.1
scikit-learn==1.6.1
gymnasium==0.29.1
ipykernel==6.29.5
plotly==6.0.1
kaleido